/* Base styles */

body {
    /* 02 Font family */
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
    /* 03 Spacing */
    line-height: 1.5;
    padding: 4em 1em;
    /* 04 Color and contrast */
    color: #555;
}

/* 03 Spacing */
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

/* 04 Color and contrast */
h1,
h2,
strong {
    color: #333;
}

a strong {
    color: inherit;
}

hr {
    background: none;
    border: none;
    border-bottom: 1px solid #d8dee9;
}

img {
    height: auto;
    max-width: 100%;
}

/* 05 Balance */
code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    overflow: auto;
    white-space: pre-wrap;
}

/* 01 Centering */
header, main {
    margin: 0 auto;
    max-width: 50em;
}

footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4em;
    text-align: center;
}









